/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap
/public
/database
/storage
/tests
/resources
.editorconfig
.env.example
composer.json
composer.lock
phpunit.xml
server.php
webpack.mix.js
artisan
.DS_Store
.gitattributes
composer.lock
storage/.DS_Store
storage/framework/.DS_Store
/config/database.php
